<div id="sidenav">
    <nav id="scrollingNav">
        <ul class="sidenav nav nav-list">
            <li class="nav-fixed nav-header active" data-group="_"><a href="#api-_">API ENDPOINTS</a></li>
            {{#each apiInfo.apis}}
                    {{#with operations}}
                        <li class="nav-header" data-group="{{baseName}}"><a href="#api-{{baseName}}">{{baseName}}</a>
                        </li>
                        {{#operation}}
                            <li data-group="{{baseName}}" data-name="{{nickname}}" class="">
                                <a href="#api-{{baseName}}-{{nickname}}" title="{{summary}}"
                                   data-deprecated="{{isDeprecated}}">
                                    <span class="prettyprint language-html"
                                          data-type="{{httpMethod}}">{{httpMethod}}</span>
                                    <span class="text">
                                    {{#summary}}
                                        {{summary}}
                                    {{/summary}}
                                        {{^summary}}
                                            {{nickname}}
                                        {{/summary}}
                                    </span>
                                </a>
                            </li>
                        {{/operation}}
                    {{/with}}
            {{/each}}
            <li class="nav-fixed nav-header active" data-group="_"><a href="#api-_">MODELS</a></li>

            <li class="nav-header" data-group="structures"><a href="#models-structures">structures</a></li>
            {{#models}}
                {{#model}}
                    {{^isEnum}}
                        <li data-group="{{baseName}}" data-name="{{name}}" class="">
                            <a href="#model-{{classname}}-{{classFilename}}" title="{{name}}"
                               data-deprecated="{{isDeprecated}}">
                                <span class="text">{{{name}}}</span>
                            </a>
                        </li>
                    {{/isEnum}}
                {{/model}}
            {{/models}}
            <li class="nav-header" data-group="enumerations"><a href="#models-enumerations">enumerations</a></li>
            {{#models}}
                {{#model}}
                    {{#isEnum}}
                        <li data-group="{{baseName}}" data-name="{{name}}" class="">
                            <a href="#model-{{classname}}-{{classFilename}}" title="{{name}}"
                               data-deprecated="{{isDeprecated}}">
                                <span class="text">{{{name}}}</span>
                            </a>
                        </li>
                    {{/isEnum}}
                {{/model}}
            {{/models}}

            <li class="nav-header" data-group="exceptions"><a href="models-exceptions">exceptions</a></li>


        </ul>

    </nav>
</div>