<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
    <title>{{navTitle}}</title>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/index.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>
<body>
<div id="nav">
    <img src="backbase-logo.svg" alt="backbase logo" />
    <h1>{{title}}</h1>
    {{#if subTitle}}
        <span class>{{subTitle}}</span>
    {{/if}}

    {{#each capabilities}}
        <h2>{{title}}</h2>
        {{#each services}}
            <p>{{title}}</p>
            <ul>
                {{#each specs}}
                <li><a href="{{boatDocUrl}}" target="myFrame">{{title}}</a></li>
                {{/each}}
            </ul>
        {{/each}}
    {{/each}}
</div>
<iframe src="{{defaultSpecUrl}}" id="iframe" name="myFrame"></iframe>
</body>
</html>
